<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>QUESTION ONE</string>
		<key>question</key>
		<string>Does your agency use good wireless security practices?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We provide VPN service for mobile users, we turn off file sharing, and we only use public Wi-Fi when absolutely necessary.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We don’t always use VPN or check the hotspot before we use free public wireless networks.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We don’t have a good handle on wireless security practices and staff needs more security awareness when traveling.</string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>QUESTION TWO</string>
		<key>question</key>
		<string>Does your agency have a written security plan and the appropriate security polies in place?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We have a written security plan and the appropriate security policies (e.g., password complexity, acceptable use).</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We have security plan but it’s not documented and we need to improve some of our security policies.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We don’t have a written security plan or any documented security policies.</string>
			</dict>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>QUESTION THREE</string>
		<key>question</key>
		<string>
Does your agency keep anti-virus and other software updated constantly?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We have a patch management process in place (and in effect) and routinely run basic scans.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We update tools sporadically and do not run routine scans.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We have tools and systems (including anti- virus programs) that are probably out of date.</string>
			</dict>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>QUESTION FOUR</string>
		<key>question</key>
		<string>
Does your agency audit user accounts and change passwords when someone leaves?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We routinely review user accounts to be sure they are valid, necessary, and configured properly with appropriate privileges.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We will revoke system privileges and change passwords when an employee is fired.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We do not monitor user accounts and have not removed all former employees from the system.</string>
			</dict>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>title</key>
		<string>QUESTION FIVE</string>
		<key>question</key>
		<string>Does your agency monitor and filter network traffic?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We monitor all outbound traffic and have a system in place to alert us to anything unusual.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We have a system in place to track outbound traffic but it is not consistently monitored.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We do not have a system in place to monitor outbound network traffic.</string>
			</dict>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>title</key>
		<string>QUESTION SIX</string>
		<key>question</key>
		<string>
Does your agency manage removable media?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We only use removable media to store or transfer information as a last resort. When we use it, we encrypt the data and we educate staff and limit access.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We limit the use of removable media but we don’t always encrypt the data and we don’t don’t always record the access.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We don’t limit the use of removable media and we don’t secure the data on the removable media drives.</string>
			</dict>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>title</key>
		<string>QUESTION SEVEN</string>
		<key>question</key>
		<string>Does your agency require strong passwords?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We use an automated system to enforce the use of complex passwords. Staff have access to a Password Manager.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We require complex passwords and we use a Password Manager but it’s not enforced or automated.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We no not require complex passwords or force staff to change their passwords on a regular interval. We don’t use Password Managers or Multi-Factor authentication.</string>
			</dict>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>title</key>
		<string>QUESTION EIGHT</string>
		<key>question</key>
		<string>Does your agency apply security practices to it’s mobile devices?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We have an MDM, we use Anti-Virus on non iPhone devices, we encrypt devices and we require passwords to unlock.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We have some security features in place but they aren’t automated or consistently enforced.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We probably have mobile devices that need updates and aren’t secured.</string>
			</dict>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>title</key>
		<string>QUESTION NINE</string>
		<key>question</key>
		<string>Does your agency have an established security awareness training program and maintain user awareness throughout the year?</string>
		<key>choices</key>
		<array>
			<dict>
				<key>choice_id</key>
				<string>A</string>
				<key>choice</key>
				<string>We provide quarterly awareness training and information to our staff.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>B</string>
				<key>choice</key>
				<string>We provide awareness information or training but not both.</string>
			</dict>
			<dict>
				<key>choice_id</key>
				<string>C</string>
				<key>choice</key>
				<string>We don’t provide any security awareness training.</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
