<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgentSecurityCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB12A2991E43F0C300FE9F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB12A2AD1E43F0C400FE9F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB12A2B81E43F0C400FE9F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
